@tailwind base;
@tailwind components;
@tailwind utilities;

.rehype-code-title {
  @apply rounded-t-lg border-2 border-b-0 border-nord-2 bg-nord-1 px-5 pt-1 pb-1 font-mono text-sm font-semibold text-gray-200;
}

.rehype-code-title + pre {
  @apply !mt-0 rounded-t-none border-t-0 border-nord-2;
}

.nav {
  inset-block-start: 0;
}

body:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0rem;
  opacity: 0.1;
  z-index: -10;
  content: "";
  position: fixed;
  background: url(/image/rin.png) #242933 right bottom/140% no-repeat;
}
