@tailwind base;
@tailwind components;
@tailwind utilities;

.rehype-code-title {
  @apply rounded-t-lg border-2 border-b-0 border-nord-2 bg-nord-1 px-5 py-2 font-mono text-sm font-semibold text-gray-200;
  overflow-x: scroll;
  scrollbar-width: none;
  @apply max-w-[92vw] sm:max-w-3xl;
}

.rehype-code-title::-webkit-scrollbar {
  display: none;
}

.rehype-code-title + pre {
  @apply !mt-0 rounded-t-none border-t-0 border-nord-2;
  overflow-y: scroll;
  max-height: 30rem;
}

.nav {
  inset-block-start: 0;
}

body:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.09;
  z-index: -10;
  content: "";
  position: fixed;
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
}

#giscus::part(iframe) {
  color-scheme: light;
}

h2.sr-only {
  display: none;
}

li[id^="user-content-fn"] {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

li[id^="user-content-fn"] > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footnotes a {
  overflow-wrap: break-word;
}

.prose code {
  overflow-wrap: break-word;
}

/* noto-serif-sc-regular - chinese-simplified */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Serif SC"),
    url("/fonts/noto-serif-sc-v22-chinese-simplified-regular.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-serif-sc-600 - chinese-simplified */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 600;
  src: local("Noto Serif SC"),
    url("/fonts/noto-serif-sc-v22-chinese-simplified-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-serif-sc-700 - chinese-simplified */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Serif SC"),
    url("/fonts/noto-serif-sc-v22-chinese-simplified-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.prose strong {
  @apply font-serif font-extrabold;
}

li#series-list::before {
  content: "⚬";
  position: absolute;
  left: -1rem;
  height: 1rem;
  width: 1rem;
}

.admonition .admonition-content {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
}

.admonition .admonition-content > p {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.admonition.open .admonition-content {
  max-height: 12000px;
  -webkit-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
  -moz-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
  -o-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
  transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
}

.admonition.warn {
  background-color: rgba(255, 145, 0, 0.1);
  border-left-color: #ff9100;
}

.admonition.warn .admonition-title {
  background-color: rgba(255, 145, 0, 0.25);
  border-bottom-color: rgba(255, 145, 0, 0.1);
}

.admonition.warn .admonition-icon {
  fill: #ff9100;
}

.admonition.warn.open .admonition-title {
  background-color: rgba(255, 145, 0, 0.1);
}

.admonition.quote {
  background-color: rgba(159, 159, 159, 0.1);
  border-left-color: #9e9e9e;
}

.admonition.quote .admonition-title {
  background-color: rgba(159, 159, 159, 0.25);
  border-bottom-color: rgba(159, 159, 159, 0.1);
}

.admonition.quote.open .admonition-title {
  background-color: rgba(159, 159, 159, 0.1);
}

.admonition.quote .admonition-icon {
  fill: #448aff;
}

.admonition.info {
  background-color: rgba(68, 138, 255, 0.1);
  border-left-color: #448aff;
}

.admonition.info .admonition-title {
  background-color: rgba(68, 138, 255, 0.25);
  border-bottom-color: rgba(68, 138, 255, 0.1);
}

.admonition.info.open .admonition-title {
  background-color: rgba(68, 138, 255, 0.1);
}

.admonition.info .admonition-icon {
  fill: #448aff;
}

@media (min-width: 640px) {
  /* a.hover-link::after {
    content: "";
    @apply absolute top-full left-0 w-full border-b-2 opacity-0;
    transition: top 0.5s, opacity 0.3s;
  }

  a.hover-link:hover::after {
    @apply top-0 border-nord-10 opacity-100 dark:border-nord-7;
  } */
}

.hover-link {
  position: relative;
  display: inline-block;
  text-decoration: wavy underline;
  z-index: 1;
}

.hover-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  background-color: #d8dee9;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: -1;
}

.dark .hover-link::after {
  background-color: #4c566a !important;
}

.hover-link:hover::after {
  height: 100%;
  width: 105%;
  transform: translateX(-50%) scaleX(1);
}

.hover-link:hover {
  text-decoration: none;
}
