/* Canvas container */
.story-map-container {
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0;
}

.intro {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 2em;
	position: relative;
	z-index: -9;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	height: 150vh;
	padding: 3em;
	text-align: center;
	color: #fff;
	background: #181922;
}

.intro blockquote {
	max-width: 800px;
/* margin: 0 auto; */
}

.intro em {
	font-size: 1.5em;
}

.intro span {
	display: block;
	padding: 1em 0;
	color: #464b4b;
}

/* Story */

.story-map-text {
	width: 65%;
	max-width: 50rem;
	position: relative;
	z-index: -8;
	padding: 5em 3em 10rem 3em;
	margin-bottom: -5rem;
}

.story-map-text::after {
	z-index:-9;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	mask-image: linear-gradient(
		to right,
		gray 0%,
		#afafaf 50%,
		transparent 100%
	);
	-webkit-mask-image: linear-gradient(
		to right,
		gray 0%,
		#afafaf 50%,
		transparent 100%
	);
}

.story-map-text section {
	font-size: 1.25em;
	line-height: 1.7;
}

.story-map-text section h2 {
	font-size: 2.7em;
	font-weight: 400;
	margin: 0;
	text-align: left;
}

.story-map-text section:not(:first-child) h2 {
	padding: 2em 0 0 0;
}

.title-up {
	font-size: 0.365em;
	font-weight: bold;
	display: block;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #cecec5;
}

.title-down {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 1.35em;
	font-weight: 400;
	line-height: 0.9;
	display: block;
	padding: 0.15em 0 0.35em;
	color: #5f646c;
}

.story-map-text figure {
	margin: 1em 0 2em;
}

.story-map-text figure img {
	max-width: 100%;
}

.story-map-text figcaption {
	font-size: 0.85em;
	font-style: italic;
	padding: 1em 1.5em 0;
	text-align: center;
	color: #5f646c;
}

.story-map-text section p {
	font-size: 0.95em;
	margin: 0.5em 0 1.5em;
}

.story-map-text section p.story-map-text-intro {
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.5;
	margin: 0.5em 0 1.25em;
	text-align: left;
	color: #9d9c95;
}

.story-map-text blockquote {
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 2em;
	line-height: 1.5;
	position: relative;
	text-align: left;
	color: #939997;
}

.story-map-text blockquote::before {
	content: '\201C';
	font-size: 2.5em;
	font-style: italic;
	line-height: 1;
	position: absolute;
	top: -0.15em;
	right: 100%;
	margin: 0 0.075em 0 0;
	color: #f0f3f3;
}

.story-map-text blockquote span {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.5em;
	white-space: nowrap;
	color: #cbcece;
}

.js-gallery {
	padding-top: 50px;
	padding-bottom: 50px;
}

.js-gallery-content {
	font-size: 0;
	text-align: center;
}

.js-gallery-content img {
	max-width: 100%;
	margin: 10px 0;
}

@media(max-width: 720px) {
	.header-title {
		font-size: 1.5em;
	}
	.intro {
		font-size: 1.25em;
		height: auto;
		padding: 1em;
	}
	.story-map-text {
		width: 100%;
		max-width: none;
		font-size: 0.85em;
		padding: 2em;
		text-align: justify;
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		mask-image: none;
		-webkit-mask-image: none;
		background: rgba(163, 190, 140);
	}
	.story-map-text section h2 {
		font-size: 1.85em;
	}
	.story-map-text blockquote {
		font-size: 1.45em;
	}
	.js-section {
		width: 100%;
		max-width: none;
	}
}
