// 变量定义
$serif-font: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond,
  "Times New Roman", serif;
$sans-font: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$text-color: #5f646c;
$title-color: #cecec5;
$quote-color: #939997;
$background-dark: #181922;
$mobile-breakpoint: 720px;

/* Canvas container */
.story-map-container {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

.intro {
  font-family: $serif-font;
  font-size: 2em;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  padding: 3em;
  text-align: center;
  color: #fff;
  background: $background-dark;

  blockquote {
    max-width: 800px;
    /* margin: 0 auto; */
  }

  em {
    font-size: 1.5em;
  }

  span {
    display: block;
    padding: 1em 0;
    color: #464b4b;
  }
}

/* Story */
.story-map-text {
  width: 65%;
  max-width: 50rem;
  position: relative;
  z-index: 2;
  padding: 5em 3em 4rem 3em;
  margin-bottom: -3rem;

  &::after {
    z-index: -9;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask-image: linear-gradient(
      to right,
      gray 0%,
      #afafaf 50%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      gray 0%,
      #afafaf 50%,
      transparent 100%
    );
  }

  section {
    font-size: 1.25em;
    line-height: 1.7;

    h2 {
      font-size: 2.7em;
      font-weight: 400;
      margin: 0;
      text-align: left;
    }

    &:not(:first-child) h2 {
      padding: 2em 0 0 0;
    }

    p {
      font-size: 0.95em;
      margin: 0.5em 0 1.5em;

      &.story-map-text-intro {
        font-size: 1.3em;
        font-style: italic;
        line-height: 1.5;
        margin: 0.5em 0 1.25em;
        text-align: left;
        color: #9d9c95;
      }
    }
  }

  figure {
    margin: 1em 0 2em;

    img {
      max-width: 100%;
      margin: 0 auto 0 auto;
    }
  }

  figcaption {
    font-size: 0.85em;
    font-style: italic;
    padding: 1em 1.5em 0;
    text-align: center;
    color: $text-color;
  }

  blockquote {
    font-family: $serif-font;
    font-size: 2em;
    line-height: 1.5;
    position: relative;
    text-align: left;
    color: $quote-color;

    &::before {
      content: "\201C";
      font-size: 2.5em;
      font-style: italic;
      line-height: 1;
      position: absolute;
      top: -0.15em;
      right: 100%;
      margin: 0 0.075em 0 0;
      color: #f0f3f3;
    }

    span {
      font-family: $sans-font;
      font-size: 0.5em;
      white-space: nowrap;
      color: #cbcece;
    }
  }

  .title-up {
    font-size: 0.365em;
    font-weight: bold;
    display: block;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: $title-color;
  }

  .title-down {
    font-family: $serif-font;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 0.9;
    display: block;
    padding: 0.15em 0 0.35em;
    color: $text-color;
  }

  .js-gallery {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .js-image {
    margin: 0 auto 0 auto;
  }

  .js-gallery-content {
    font-size: 0;
    text-align: center;

    img {
      max-width: 100%;
      margin: 10px 0;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .header-title {
    font-size: 1.5em;
  }

  .intro {
    font-size: 1.25em;
    height: auto;
    padding: 1em;
  }

  .story-map-container {
    all: unset;
    position: fixed;
    z-index: 5;
    bottom: calc(49vh + env(safe-area-inset-bottom));
    left: 0;
  }

  .story-map-container canvas {
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .story-map-text {
    width: 100%;
    max-width: 100vw;
    font-size: 0.85em;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
    backdrop-filter: none;
    mask-image: none;
    -webkit-backdrop-filter: none;

    &::after {
      all: unset;
    }

    section h2 {
      font-size: 1.85em;
    }

    blockquote {
      font-size: 1.45em;
      margin-left: 1.5rem;
    }
  }

  .js-section {
    width: 100%;
    max-width: none;
  }
}
